.card
{
    margin: 3%;
}

body
{
    padding-top: 70px;
    background-image: url("/public/images/background.jpg");
    background-attachment: fixed;
}

#navbarNav .navbar-nav .nav-item
{
    margin-right: 3%;
}

#card-body
{
    overflow: hidden;
}
body .container p a 
{
    color: black;
}
body .container .nav li a
{
    color: black;
}
div .jumbotron
{
    margin-top: 3%;
}